@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

.activityContainer {
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 20px;
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  background: none;
  min-height: 100vh;
  flex-grow: 1;
}

.activityCard {
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  font-family: "creepster", cursive;
  background: var(--colorWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
}

.imgActivity {
  height: 60%;
  width: 80%;
  margin-bottom: 10%;
  margin-top: 10%;
  object-fit: cover;
}
.imgActivityCarousel {
  min-height: 69% !important;
  width: 80% !important;
  margin-bottom: 10%;
  margin-top: 10%;
  height: 50%;
  /* object-fit: cover !important; */
}
.descriptionActivity {
  font-style: italic;
}
.slide li {
  width: 10px;
}
/*   background-color: black;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 15px;
  padding: 20px;
  text-align: center; */

/*   max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center; */
