@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: "Creepster", cursive;
  overflow-y: hidden, scroll;
  background-color: blue;
}

.titreHead {
  font-family: "Creepster", cursive;
  text-shadow: 2px, 2px, 2px, white;
  font-size: 3rem;
}
