@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

.activPagContainer {
  background-image: url("../../assets/bgactivity.jpg");
  background-size: cover;
}

.activity {
  background: none;
}
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: "Creepster", cursive;
} */

.titreHead {
  font-family: "Creepster", cursive;
  font-size: var(--titleSize);
  text-align: center;
  color: var(--colorRed);
  text-shadow: var(--textShadow);
}
