* {
  margin: 0;
  padding: 0;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100vh;
  flex-grow: 1;
}
