@import "../../utils.css";

.text {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 70%;
  font-family: Burton;
  font-size: var(--paraSize);
  text-shadow: var(--textShadow);
  color: var(--colorWhite);
  border-radius: 15px;
  border-style: solid;
  padding: 30px;
  box-shadow: var(--boxShadow);
  border-color: var(--colorDark);
  background-color: var(--colorDark);
  font-weight: 400;
}
.text h2 {
  color: var(--colorWhite);
  font-size: var(--underTitleSize);
  font-family: Burton;
  font-weight: bolder;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 5%;
}
.rules_container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: var(--colorRed);
  background: radial-gradient(
    circle,
    rgba(174, 37, 38, 1) 0%,
    rgba(24, 22, 22, 0.9417016806722689) 100%
  );
}
