@import "../../utils.css";
.HomePageContent_container {
  background: var(--colorRed);
  background: radial-gradient(
    circle,
    rgba(174, 37, 38, 1) 0%,
    rgba(24, 22, 22, 0.9417016806722689) 100%
  );
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}
.Slider_container {
  width: 100%;
  height: 40%;
  position: relative;
}
.Slider_title {
  width: 100%;
  height: 50%;
  z-index: 100;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
  margin-top: 35px;
  color: var(--colorRed);
  font-family: var(--fontStyle);
  letter-spacing: 2px;
  font-size: var(--titleSize);
  text-shadow: var(--textShadow);
}
.Slider_under_title {
  margin-top: 90px;
  z-index: 100;
  height: 50%;
  width: 100%;
  color: var(--colorRed);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
  font-family: var(--fontStyle);
  letter-spacing: 4px;
  font-size: var(--underTitleSize);
  text-shadow: var(--textShadow);
}
.Slider_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.Body_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100%;
  margin-top: 5%;
}
.Text_container {
  width: 45%;
  color: var(--colorWhite);
  font-family: Burton;
}
.Map_container {
  width: 45%;
  z-index: 100;
  box-shadow: var(--boxShadow);
}
.Concept_container {
}
.Why_container {
}

.Why_title {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: var(--littleTitleSize);
  text-shadow: var(--textShadow);
}
.Why_paragraph {
  font-size: var(--paraSize);
  text-shadow: var(--textShadow);
}
.Concept_title {
  text-align: center;
  margin-bottom: 3%;
  font-size: var(--littleTitleSize);
  text-shadow: var(--textShadow);
}
.Concept_paragraph {
  font-size: var(--paraSize);
  text-shadow: var(--textShadow);
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
