.navbar {
  display: flex;
  background-color: #181616;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 7vh;
}

.ul_navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  width: 100%;
}
.ul_navbar li {
  margin: 3rem;
}
a {
  color: white;
  text-decoration: none;
}

.logonav {
  height: 60px;
  margin-left: 10px;
}
