@import "../../utils.css";
.navbar {
  display: flex;
  background-color: #181616;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 11vh;
  letter-spacing: 4px;
}

.ul_navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  width: 100%;
}
.ul_navbar li {
  margin: 3rem;
  font-family: Burton;
  font-size: var(--underTitleSize);
  text-shadow: var(--textShadow);
  letter-spacing: 4px;
}
a {
  color: white;
  text-decoration: none;
}

.logonav {
  width: 100%;
  margin-left: 3rem;
  font-family: Burton;
  color: red;
  text-shadow: 3px 3px 6px black;
  font-size: 3rem;
  font-weight: bolder;
}
