@font-face {
  font-family: "Bradley_Gratis";
  src: url("../../assets/Bradley_Gratis.ttf");
}


.navbar {
  display: flex;
  background-color: #181616;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 9vh;
}

.ul_navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  width: 100%;
}
.ul_navbar li {
  margin: 3rem;
}
a {
  color: white;
  text-decoration: none;
}

.logonav {
  width: 100%;
  margin-left: 3rem;
  font-family: "Bradley_Gratis";
  color: red;
  text-shadow: 3px 3px 6px white;
  font-size: 3rem;
  font-weight: bolder;
}