.footerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #181616;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
}

a {
  color: white;
  text-decoration: none;
}

.wild {
  color: white;
}

.list {
  display: flex;
}

.nav {
  display: flex;
  list-style: none;
  margin: 10px;
}
