.footerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #181616;
  align-items: center;
  justify-content: space-between;
  font-family: Burton;
  font-size: var(--littleTitleSize);
  text-shadow: var(--textShadow);
  letter-spacing: 4px;
  font-weight: bolder;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: bolder;
}

.wild {
  color: white;
  margin-left: 12px;
}

.list {
  display: flex;
}

.nav {
  display: flex;
  list-style: none;
  margin: 10px;
}
