@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

:root {
  --colorRed: #ae2526;
  --colorWhite: #f3f3f1;
  --colorDark: #181616;
  --fontStyle: "Creepster", cursive;
  --borderRadius: 1.5rem;
  --titleSize: 2.5rem;
  --underTitleSize: 1.8rem;
  --littleTitleSize: 1.3rem;
  --paraSize: 1rem;
  --boxShadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}
